main {
    background-color: var(--background);
}

#main__container {
    display: flex;
    justify-content: center;
    margin: 0 2rem;
}

#main__text_container {
    font-family: "Poppins";
    max-width: 30rem;
}

#main__text_container h2 {
    color: var(--text80);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#main__text_container p {
    color: var(--text50);
}

.main__picture {
    height: 15rem;
    width: 15rem;
    border: solid 0.5rem var(--canvas);
    border-radius: 25%;
    margin-left: 1rem;
}

@media (max-width: 700px) {
    #main__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    #main__text_container {
        margin-top: 1.25rem;
        text-align: center;
    }

    .main__picture {
        margin-left: 0;
    }
}