header {
    background-color: var(--header_background);
    border-top: solid 0.2rem var(--boundary);
    border-bottom: solid 0.2rem var(--boundary);
    padding: 1.5rem 2rem;
    font-family: "Poppins";
    margin-bottom: 0.5rem;
}

h1 {
    color: var(--text);
    font-size: 2rem;
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
    }
}